<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
      <h1 class="jumbotron">Inventory</h1>
      <div id="inventory">
        <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
        
        {% for item in inventory %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ item.Rank }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cost: {{ item.Actors }}</h6>
                    <p class="card-text">Potential Revenue: {{ item.Opening}}</p>
                  </div>
                </div>
            </div>
            {% endfor %}

      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/chord_app.js"></script>

  </body>

</html>
